@font-face {
	font-family: 'notosans';
	font-style: normal;
	font-weight: 100;
	src: url('/assets/font/NotoSansKR-Thin.eot');
	src: url('/assets/font/NotoSansKR-Thin.eot?#iefix') format('embedded-opentype'), url('/assets/font/NotoSansKR-Thin.woff') format('woff'), url('/assets/font/NotoSansKR-Thin.otf') format('opentype');
}
@font-face {
	font-family: 'notosans';
	font-style: normal;
	font-weight: 200;
	src: url('/assets/font/NotoSansKR-Light.eot');
	src: url('/assets/font/NotoSansKR-Light.eot?#iefix') format('embedded-opentype'), url('/assets/font/NotoSansKR-Light.woff') format('woff'), url('/assets/font/NotoSansKR-Light.otf') format('opentype');
}
@font-face {
	font-family: 'notosans';
	font-style: normal;
	font-weight: 300;
	src: url('/assets/font/NotoSansKR-DemiLight.eot');
	src: url('/assets/font/NotoSansKR-DemiLight.eot?#iefix') format('embedded-opentype'), url('/assets/font/NotoSansKR-DemiLight.woff') format('woff'), url('/assets/font/NotoSansKR-DemiLight.otf') format('opentype');
}
@font-face {
	font-family: 'notosans';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/font/NotoSansKR-Regular.eot');
	src: url('/assets/font/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'), url('/assets/font/NotoSansKR-Regular.woff') format('woff'), url('/assets/font/NotoSansKR-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'notosans';
	font-style: normal;
	font-weight: 500;
	src: url('/assets/font/NotoSansKR-Medium.eot');
	src: url('/assets/font/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'), url('/assets/font/NotoSansKR-Medium.woff') format('woff'), url('/assets/font/NotoSansKR-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'notosans';
	font-style: normal;
	font-weight: 700;
	src: url('/assets/font/NotoSansKR-Bold.eot');
	src: url('/assets/font/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'), url('/assets/font/NotoSansKR-Bold.woff') format('woff'), url('/assets/font/NotoSansKR-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'notosans';
	font-style: normal;
	font-weight: 900;
	src: url('/assets/font/NotoSansKR-Black.eot');
	src: url('/assets/font/NotoSansKR-Black.eot?#iefix') format('embedded-opentype'), url('/assets/font/NotoSansKR-Black.woff') format('woff'), url('/assets/font/NotoSansKR-Black.otf') format('opentype');
}
